<div class="row card-deck ">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of productOrders">
      <div class="card h-100">
        <img src="{{ p.product.imageart }}" class="card-img-top" alt="{{ p.product.designation }}">
        <div class="card-body">
          <h5 class="card-title">{{ p.product.designation }}</h5>
          <p class="card-text">{{ p.product.description }}</p>
          <p class="card-text">{{ p.product.prix }} TND</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-0">
              <button class="btn btn-primary btn-block btaa" (click)="addProductToCart(p)" [disabled]="p.product.qtestock === 0">
                Add To Cart
              </button>
            </div>
            <div class="col-4">
              <small class="text-muted">Stock: {{ p.product.qtestock }}</small>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>

   
  </div>
  