<!-- register.component.html -->

<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar style="background-color:#3b5d50;color:white;">Register</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="Ajoutuser()">
      <mat-form-field>
        <input matInput type="text" id="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" id="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" id="firstname" name="firstname" placeholder="Firstname" [(ngModel)]="user.firstname" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" id="lastname" name="lastname" placeholder="Lastname" [(ngModel)]="user.lastname" required>
      </mat-form-field>
      
      <div style="text-align: center;">
        <button mat-raised-button type="submit">Register</button>
      </div>
   
    </form>
    <div style="text-align: center; margin-top: 10px;">
      <p>Already have an account? <a mat-button color="primary" routerLink="/login" style="text-decoration: none;color: #3b5d50;font-weight: bold;">Login&nbsp;&rarr;</a></p>
    </div>
  </mat-card>
</div>
