<!-- Button trigger modal -->
<button class="btn btn-default" (click)="openModal()">
  <i class="bi bi-info-square-fill"></i>
</button>

<!-- Modal -->
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Details of Product</h4>
      <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <template *ngTemplateOutlet="cardProduct"></template>
    </div>
  </div>
</div>
</div>

<div class="overlay-backdrop" [ngStyle]="{'display': display}"></div>

<!-- Card -->

<ng-template #cardProduct>
<div class="container">
  <div class="row ">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src={{products.imageart}} class="card-img-top" alt="Product Image">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <p class="card-text"><p style="color: #3b5d50;font-weight: bold;">Reference :</p> {{products.reference}}
          <h5 class="card-title"><p style="color: #3b5d50;font-weight: bold;font-size: 15px;">Brand :</p>{{products.marque}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><p style="color: #3b5d50;font-weight: bold;font-size: 15px;">Price :</p>{{products.prix}} TND</h6>
          <p class="card-text"><p style="color: #3b5d50;font-weight: bold;font-size: 15px;">Designation : </p>  {{products.designation}}
          <p class="card-text"><p style="color: #3b5d50;font-weight: bold;font-size: 15px;">Quantity Avaible</p> {{products.qtestock}}
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>
