/* Component CSS or global styles */
.overlay-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired opacity */
    z-index: 1050; /* Ensure the z-index is higher than the modal's z-index */
    display: none;
  }
  .modal-content{
    width: 700px;
  }